<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Billetterie{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <header id="banner" class="row">
                <div id="logo" class="hidden-xs col-sm-2"><img src="{{ asset('img/louvre.png') }}"></div>
                <div id="main-title" class="col-xs-12 col-sm-8"><h1 class="text-center"><a href="{{ path('homepage-billetterie') }}" class="link-unstyled">Billetterie</a></h1></div>
            </header>
            <div id="content" class="row">
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer class="alert text-center" style="color: gainsboro">Copyright © Loïc Hay</footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
