body {
    background-color: rgb(51, 17, 7);
}
/*bannière*/
#banner {
    display: flex;
    align-content: center;
    background-color: rgb(34,34,34);
    color: white;
    /*height: 100px;*/
}

#logo {
    height: 50px;
    width: 165px;
    align-self: center;
    margin: 5px;
}
#main-title {
    align-self: center;
}
.link-unstyled {
    color: inherit;
    text-decoration:none;
}
.link-unstyled:hover {
    color: inherit;
    text-decoration:none;
}
/*contenu*/
#content {
    background-color: white;
}
.step-wizard {
    padding: 10px;
}
.grey-background {
    background-color: rgb(78,78,78);
    color: white;
}
h2 {
    background-color: rgb(201,45,0);
    color: white;
    font-size: 1.6em;
}
h3 {
    background-color: rgb(78,78,78);
    color: white;
    font-size: 1.4em;
}
/* permet de retirer les changements css fait sur les h2 et h3 */
.unstyled-title {
    background-color: inherit!important;
    color: inherit!important;
}

#info-datevisite {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-orange {
    background-color: rgb(201,45,0)!important;
    color: white!important;
}
.btn-grey {
    background-color: grey;
    color: white!important;
}
.active {
    background-color: rgb(201,45,0)!important;
}
.more-margin {
    margin: 5px 0px;
}
footer {
    color: gainsboro;
}
/* spécifique a la page index */
.index-paragraph {
    margin: 5px;
}
#btn-achat {
    display: block;
    margin : auto;
    margin-bottom: 10px;
    width: 150px;
    background-color: rgb(201,45,0);
    color: white;
}
/* spécifique à la page choix visite */
.datepicker-inline {
    margin: auto!important;
}
/* personalisation des erreurs affichées dans les formulaires*/
.help-block {
    color: #a94442!important;
    background-color: #f2dede;
}
/* Personalisation bouton paiement */
.stripe-button-el span{
    font-size: 1em;
    background: rgb(201,45,0)!important;
}

.stripe-button-el{
    background-image: none!important;
    background-color: rgb(201,45,0)!important;
}
.stripe-button-el span:hover, .stripe-button-el span:active{
    background-color: rgb(201,45,0)!important;
    color: white;
}
@media (max-width: 767px) {
    #banner {
        background-color: rgb(34,34,34);
        color: white;
        height: 100px;
    }
    #logo {
        height:auto;
        width: auto;
        align-self: center;
        margin: auto;
    }
    img {
        height: 100px;
    }

}

