<ul class="list-unstyled">
    <li>Date de visite : {{ app.session.get('commande').dateVisite |date("d/m/Y") }} </li>
    <li>
        {% if app.session.get('commande').type == 'journee'%}
            Type de billets : Journée
        {% elseif app.session.get('commande').type == 'demi-journee' %}
            Type de billets : Demi-journée
        {% endif %}
    </li>
    <li>Nombre de billets : {{ app.session.get('commande').nombreBillets }}</li>
</ul>
<a href="{{  path('choix-visite-billetterie') }}">Modifier</a>