{% extends 'base.html.twig' %}
{% block content %}
    <div class="text-center">
        <p>La session a expirée. Veuillez recommencer</p>
        <p><a id="btn-achat" class="btn" href="{{ path('choix-visite-billetterie') }}">Achetez vos billets</a></p>
    </div>
{% endblock %}
